#app {
  background-color: lightpink;
  display: grid;
  height: 95vh;
  grid-template-rows: 1fr auto;
}

#panorama {
  background-color: lightsalmon;
}

#control-panel {
  padding: 2rem;
  background-color: lightseagreen;
}
