#app {
  display: grid;
  height: 90vh;
  grid-template-rows: 1fr auto;
}

#control-panel {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (min-width: 600px) {
  #control-panel button {
    font-size: 1.2rem;
  }
  #control-panel > button {
    margin: 0 0.5rem;
  }
}

#score-board {
  font-size: small;
  position: absolute;
  top: 0;
  right: 15px;
  width: auto;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 2;
  padding: 0.12rem;
}
